.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 2rem;
  /* margin-top: 2.5rem; */
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  background: rgba(var(--color-bg-variant), 0.5);
  border-color: var(--color-bg-variant);
  transition: var(--transition);

  cursor: pointer;
}

.portfolio__item-image {
  border-radius: 2rem;
  overflow: hidden;
  border: 3px solid var(--color-primary);
}

.portfolio__item > h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Media Queries: Medium Devices */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 2.5rem; */
    gap: 1.2rem;
  }
}

/* Media Queries: Small Devices */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
