nav {
  background: rgba(255, 121, 233, 0.3);
  width: max-content;
  display: block;
  /* top bottom, left right */
  padding: 0.7rem 1.7rem;
  /* z-index: 2; */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(10px);
}

nav a {
  /* background: transparent; */
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  color: rgb(210, 210, 210);
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background: var(--color-text);
  color: var(--color-bg);
}
